<a class="btn btn-details" routerLink="..">Go back to list</a>
<div *ngIf="product$ | async as product; else loadingProductInfo" class="card">
    <img class="card-img-top" [src]="product.img">
    <div class="card-body">
        <h5 class="card-title">{{ product.name }} - {{ product.price }}</h5>
        <div class="row">
            <div class="col-sm-9">
                <p class="card-text">{{ product.desc }}</p>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-details" (click)="addProductToCart(product)">Add to cart</button>
            </div>
        </div>
    </div>
</div>
<ng-template #loadingProductInfo>
    Loading...
</ng-template>